.FilesBox__main{
    height: 37%;
    border-bottom: 1px solid #878686;
}

.MediaHead {
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.MediaHead p {
    margin-top: 10px;
}

.Files__docMain {
    height: 197px;
    padding: 0px 10px;
    overflow: auto;
}

.Files__doc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 4px;
    padding-top: 8px;
    border-bottom: 0.5px solid #414141;
    /* box-shadow: 0 4px 2px -4px #878686; */
    transition: all .3s;
}

.Files__doc:hover {
    background-color: #26474d;
}