.main {
    height: 100%;
    border-right: 1px solid #878686;
    border-left: 1px solid #878686;
}

.sub__main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}