.LinksBox__main{
    height: 40.5%;
}

.MediaHead {
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.MediaHead p {
    margin-top: 10px;
}

.Files__main{
    overflow: auto;
    height: 213px;
    padding: 0px 10px;
}

.Files__doc {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* justify-content: space-around; */
    border-bottom:2px solid #5ae0fe;
}

.Files__doc:hover {
    background-color: #3333;
}