.LinksBox__main{
    height: 40.5%;
}

.MediaHead {
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.MediaHead p {
    margin-top: 10px;
}

.Files__main{
    overflow: auto;
    height: 224px;
    padding: 0px 10px;
}

.Files__doc {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 0.5px solid #414141;
    /* box-shadow: 0 4px 2px -4px #878686; */
    transition: all .3s;
}

.Files__doc:hover {
    background-color: #26474d;
}