.header{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.Logo{
    font-family: var(--headings-font);
    font-weight: var(--font-bolder);
    font-size: var(--h3-font-size);
}

.sunIcon{
    margin-left: 96%;
    font-size: var(--h3-font-size);
}

.formDiv{
    padding: 13% 32% 0;
}

.label{
    font-family: var(--headings-font);
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    margin-bottom: 0.7rem;
}

.inputField{
    margin-bottom: 1rem;
    background-color: #414141;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 0.8rem 1rem;
    font-family: var(--headings-font);
    font-size: 0.94rem;
    color: hsl(0deg 0% 100% / 81%);
}

.inputField:focus{
    outline: none;
}

.checkBoxDiv{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin-bottom: 1rem;
}

label{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.checkBoxDiv input{
    position: absolute;
    transform: scale(0);
}

.checkBoxDiv label{
    cursor: pointer;
}

.checkBox{
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid var(--Fifteen-percent-color);
    transition: all 0.35s;
}

.checkBox:hover {
    border-color: hsl(191, 99%, 67%);
}

input:checked ~ .checkBox {
    transform: rotate(45deg);
    width: 8px;
    border-color: hsl(191, 99%, 67%);
    border-top-color: transparent;
    border-left-color: transparent;
    margin-bottom: 4px;
    margin-right: 4px;
}

.checkBoxText {
    margin-left: 0.7rem;
    font-weight: var(--font-bold);
    color: var(--Five-percent-color);
    font-size: 15px;
    transition: all 0.35s;
}

.submitBtn{
    background-color: hsl(191deg 58% 47%);
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 0.75rem 1rem;
    font-family: var(--headings-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    transition: 0.3s all;
}

.submitBtn:hover{
    cursor: pointer;
    background-color: hsl(191, 99%, 67%);
}

.signUpBtnDiv{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.signUpBtnDiv p{
    color: hsl(0, 0%, 100%);
    font-size: 15px;
}

.signUpBtn{
    margin-left: 0.7rem;
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-bold);
    font-size: 15px;
    color: var(--Five-percent-color);
    transition: 0.3s all;
}

.signUpBtn:hover{
    cursor: pointer;
    color: hsl(191, 99%, 67%);
}