
.headerDiv{
    height: 10vh;
}

.backBtn{
    background-color: transparent;
    border: none;
}

.backIconBtn{
    font-size: var(--h1-font-size);
    color: var(--Five-percent-color);
}

.backBtn:hover{
    cursor: pointer;
}

.backBtn:hover .backBtn{
    color: var(--hover-color);
}

.title{
    text-align: center;
    margin-bottom: auto;
    font-family: var(--headings-font);
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
}

.body{
    height: 87vh;
    padding: 3% 0;
}

.userCredentials{
    display: flex;
    height: 15vh;
    align-items: center;
    margin-bottom: 3%; 
}

.userData{
    margin-left: 5px;
    /* align-self: center; */
}

.userData h2{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    font-family: var(--headings-font);
}

.userData p{
    font-size: var(--small-font-size);
    font-family: var(--body-font);
}

.themeChangerBtn{
    align-self: center;
}

.sunIcon{
    font-size: var(--h3-font-size);
    color: var(--Text-color);
}

.sectionHeading{
    font-family: var(--headings-font);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.7rem;
}

.accountSettings, .chatsSetting{
    margin-bottom: 2rem;
}

.sectionBtn{
    border: none;
    align-items: center;
    background-color: transparent;
    padding: 0.5rem 0;
}

.sectionBtn:hover{
    cursor: pointer;
}

.underLine{
    border-bottom: 1px solid var(--Five-percent-color);
    margin: bottom 1rem;
}

.BtnIcon{
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--Five-percent-color);
}

.BtnText{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
}

.branding{
    text-align: center;
    /* border-top: 2px solid var(--Five-percent-color);
    padding-top: 1rem; */
    font-family: var(--headings-font);
    font-weight: var(--font-semi-bold);
    position: relative;
    font-size: 17px;
    padding-top: 42px;
}

.branding::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3%;
    height: 2px;
    background-color: var(--Five-percent-color);
}