.UsersList__main{
    height: 80%;
}

.ChatHead{
    padding: 19px 15px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    position: relative;
    align-items: center;
}

.ChatHead h1 {
    margin: 0;
}

.icons {
    position: absolute;
    right: 0;
    width: 77px;
    margin-top: 8px;
}

.searchIcon{
    margin-left: 16px;
}

.searchIcon, .addComment {
    transition: all .3s;
}

.searchIcon:hover, .addComment:hover {
    color: #5ae0fe;
}

.individualMember{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px 0px;
    height: 65px;
    width: 300px;
    margin-left: 5px;
    border-bottom: 0.5px solid #414141;
    /* box-shadow: 0 4px 2px -4px #878686; */
    transition: all .3s;
}

.individualMember:hover {
    background-color: #26474d;
    /* box-shadow: 0 4px 16px -4px gray; */
}

.chatMembers {
    overflow: auto;
    height: 500px;
}

.chatMembersInfo p{
    margin: 0;
    padding-top: 1px;
}

.chatMembersInfo{
    padding-left: 3%;
}