.UsersList__main{
    height: 80%;
}

.ChatHead{
    padding: 19px 15px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    position: relative;
    align-items: center;
}

.ChatHead h1 {
    margin: 0;
}

.icons {
    position: absolute;
    right: 0;
    width: 77px;
    margin-top: 8px;
}

.searchIcon{
    margin-left: 16px;
}

.searchIcon, .addComment {
    transition: all .3s;
}

.searchIcon:hover, .addComment:hover {
    color: #5ae0fe;
}

.individualMember{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px 0px;
    height: 65px;
    width: 300px;
    margin-left: 5px;
    border-bottom: 0.5px solid #414141;
    /* box-shadow: 0 4px 2px -4px #878686; */
    transition: all .3s;
}

.individualMember:hover {
    background-color: #26474d;
    /* box-shadow: 0 4px 16px -4px gray; */
}

.chatMembers {
    overflow: auto;
    height: 500px;
}

.chatMembersInfo p{
    margin: 0;
    padding-top: 1px;
}

.chatMembersInfo{
    padding-left: 3%;
    width: 170px;
    height: 36px;
    white-space: nowrap;
    overflow: hidden;
}

.chatMembersInfoNoti{
    font-weight: bolder;
}

.rightTextNoti {
    font-weight: bolder;
}

.count {
    font-size: 10px;
    width: 15px;
    height: 15px;
    background-color: hsl(190, 99%, 33%);
    text-align: center;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightText p{
    margin-left: auto;
}