.UsersList__main{
    border: 2px solid green;
    height: 80%;
}

.ChatHead{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    position: relative;
}

.ChatHead h1 {
    margin: 0;
}

.icons {
    line-height: 54px;
    position: absolute;
    right: 0;
    width: 77px;
}

.searchIcon{
    margin-left: 16px;
}

.individualMember{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px 10px;
    height: 70px;
}

.individualMember:hover {
    background-color: #404040;
}

.chatMembersInfo p{
    margin: 0;
    padding-top: 4px;
}

.chatMembersInfo{
    padding-left: 4%;
}

.individualMember::after{
    content: '';
    height: 2px;
    background-color: #5ae0fe;
    width: 90%;
    margin: auto;
}