.MessageBox__main{
    height: 10%;
    background-color: #404040;
    border-right: 1px solid #878686;
    border-left: 1px solid #878686;
}

.MessageBox__subMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: nowrap;
    padding-top: 1.5%;
    width: 96%;
    font-size: larger;
}

.sendMsg:hover{
    color: hsl(191, 99%, 65%);
}

.sendMsg{
    color: hsla(0, 0%, 100%, 0.808);
}