.MessageBox__main{
    border: 2px solid brown;
    height: 10%;
}

.MessageBox__subMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: nowrap;
    margin-top: 1.5%;
    width: 96%;
    font-size: larger;
}

.uploadFile:hover,.sendMsg:hover{
color: var(--Five-percent-color);
}

.uploadFile,.sendMsg{
    color: var(--Partition-line-color)
}