.MediaBox__main{
    height: 22.5%;
    border-bottom: 1px solid #878686;
}

.MediaHead {
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Media__container {
    overflow-x: auto;
    white-space: nowrap;
    height: 82px; 
    padding: 0px 10px; 
}  

.Media__container div {
    display: inline-block;
    border-radius: 10px;
    background-color: #404040;
    height: 70px; 
    width: 70px; 
    margin-right: 5px;   
}