.MyUser__datacontainer{
  margin: auto;
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 250px;
  height: 90px;
  padding: 7px;
  border-radius: 30px;
}

.MyUser__minibox{
  display: flex;
  align-items: center;
  height: 20%;
}

.onlineDisplay{
  margin-top: 12px;
}