.ChatMessages__main{
    height: 75%;
    overflow: auto;
    padding: 20px;
    border-right: 1px solid #878686;
    border-left: 1px solid #878686;
}

.Box1{
    overflow: hidden; 
    margin:1.5% 0 1.5%;
	padding: 0 0 0 10px;
	vertical-align: top;
}

.Box2{
    overflow: hidden; 
    margin: 1.5% 0 1.5%;
}

.Box2 h3{
    text-align: right;
}
.Box1,.Box2{
    margin-top: 0.5%;
}
.Box2 .msg{
    float: right;	  
    width: auto;
    text-align: right;
}
.Box1 .msg {
    float: left;
	width: auto;
    text-align: left;
    background-color: #404040;
    border-radius: 2px 30px 30px 30px;
    margin-top: 3px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}

.Box2 .msg {
    text-align: end;
    border-radius: 30px 2px 30px 30px;
    margin-top: 5px;
    background-color: hsl(190, 99%, 33%);
    color: hsl(0, 0%, 100%);
}